<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList📌</title>
    <!-- 引入 Vue2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- 引入 element-ui -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入 axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <!-- vue app 根盒子 -->
    <div id="app">
        <h1 class="title">ToDoList</h1>
        <!-- 1. 添加计划 -->
        <div class="adddiv">
            <h3>添加</h3>
            <div style="margin-top: 15px;">
                <!-- 添加计划输入框 + 提交按钮，绑定 add 方法 -->
                <el-input placeholder="开启一个计划吧！⏱️" v-model="todo">
                    <el-button
                    slot="append"
                    style="background-color: #409eff;color: #fff;"
                    icon="el-icon-plus"
                    @click="add">
                </el-button>
                </el-input>
            </div>
        </div>

        <!-- 分隔线 -->
        <el-divider></el-divider>

        <!-- 2. 计划列表 -->
        <div class="list">
            <!-- 
                展示待完成和已完成计划数量：
                finishedNum：已完成数量
                createdNum：待完成数量
            -->
            <div style="display: flex; align-items: center;">
                <h3>计划列表</h3>
                <el-tag type="success" style="margin-left: 20px;">已完成: {{finishedNum}}</el-tag>
                <el-tag type="danger" style="margin-left: 10px;">待完成: {{createdNum}}</el-tag>
            </div>
            <!-- 展示总共的计划，不包括已删除的 -->
            <el-table :data="todolist" height="350" style="width: 100%">
                <el-table-column prop="ID" label="ID"></el-table-column>
                <el-table-column prop="Name" label="事项"></el-table-column>
                <el-table-column label="状态">
                    <!-- 
                        判断 Status 的值：
                        Status = 1，则显示待完成标签；
                        Status = 2，则显示已完成标签。
                    -->
                    <template slot-scope="scope">
                        <el-tag type="danger" v-if="scope.row.Status === 1">待完成</el-tag>
                        <el-tag type="success" v-if="scope.row.Status === 2">已完成</el-tag>
                    </template>
                </el-table-column>
                <!-- 
                    待完成的计划展示完成和删除按钮，已完成的计划仅展示，没有任何操作。
                    和上面的状态标签一样，都是通过 v-if 去判断 Status 的值，来控制按钮的现实和隐藏
                -->
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button
                        size="mini"
                        type="primary"
                        v-if="scope.row.Status == 1"
                        @click="finish(scope.$index, scope.row)">完成</el-button>
                        <el-button
                        size="mini"
                        type="danger"
                        v-if="scope.row.Status == 1"
                        @click="del(scope.$index, scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>  
    </div>
</body>
</html>
<style>
    /* 根盒子居中 */
    #app{
        width: 60%;
        margin: 0 auto;
    }
    .title {
        font-weight: bold;
    }
    .adddiv {
        width: 500px;
    }
</style>
<script>
    // 创建 vue 实例
    var app = new Vue({
    el: '#app',
    data: {
        todo: '',  // 计划
        todolist: [], // 计划列表数据
        finishedNum: 0, // 完成计划数
        createdNum: 0 // 待完成计划数
    },
    methods: {
        // 添加计划
        add() {
            // 如果 todo 属性为空，则表示用户并没有输入就点击了 + 按钮
            // 此时需要提示用户
            if (this.todo == '') {
                this.$message.error('事项不能为空！😓');
            } else {
                axios({
                method: 'post',
                url: 'http://127.0.0.1:8080/todo',
                data: {
                    name: this.todo
                }
                })
                this.$message({
                message: '添加成功！😉',
                type: 'success'
                })
                // 1s 之后重新加载页面，目的是重新请求一次，获得新添加的计划
                setTimeout(() => {
                    window.location.reload()
                }, 1000)
            }
        },
        // 完成计划，给接口传计划的 id
        finish(index, row) {
            let that = this
            axios({
                method: 'post',
                url: 'http://127.0.0.1:8080/finish',
                data: {
                    id: row.ID
                }
            })
            this.$message({
                message: '太棒了！🎉',
                type: 'success'
            })
            setTimeout(() => {
                window.location.reload()
            }, 1000)
        },
        // 删除计划，同样也是给接口传计划 id
        del(index, row) {
            let that = this
            axios({
                method: 'post',
                url: 'http://127.0.0.1:8080/delete',
                data: {
                    id: row.ID
                }
            })
            this.$message({
                message: '这件事推迟了吗？🤔',
                type: 'success'
            })
            setTimeout(() => {
                window.location.reload()
            }, 1000)
        }
    },
    // 在组件挂在完成之后给获取计划列表接口发送请求
    // mounted() 方法每次刷新页面都会指向
    // 使用 mounted() 方法目的是为了在每次刷新页面的时候都去获取最新的数据
    mounted() {
        let that = this
        axios({
            method: 'get',
            url: 'http://127.0.0.1:8080/todo',
            }).then(function (response) {
                that.todolist = response.data.data
                that.todolist.reverse() // 反转 todolist，让新添加的计划在列表的头部显示
                // for 循环统计待完成和已完成的计划数量
                for (let i = 0; i < that.todolist.length; i++) {
                    if (that.todolist[i].Status === 1) {
                        that.createdNum++
                    } else {
                        that.finishedNum++
                    }
                }
            })
        }
    })
</script>